h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}


h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

.h2underline:after{
      display: block;
      height: 2px;
      background-color: #273c75;
      content: " ";
      width: 100px;
      margin: 0 auto;
      margin-top: 30px;

}
